
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dhqq">
    <!--HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--检测网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--检测wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--为了获取用户手机的IMEI，用来唯一的标识用户。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
    <activity
        android:name="com.huawei.hms.activity.BridgeActivity"
        android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
        android:excludeFromRecents="true"
        android:exported="false"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Translucent" >
        <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui.Translucent" />
    </activity>
    <activity
        android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"
        android:configChanges="orientation|screenSize"
        android:exported="false"
        android:theme="@style/upsdkDlDialog" >

        <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
    </activity>

    <activity
        android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:exported="false"
        android:theme="@style/upsdkDlDialog" >
        <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui.Translucent" />
    </activity>
    <provider
        android:name="com.huawei.hms.update.provider.UpdateProvider"
    android:authorities="com.dhtab.hms.update.provider"
    android:exported="false"
    android:grantUriPermissions="true" >

</provider>
    <provider
        android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"

        android:authorities="com.dhtab.updateSdk.fileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
    </provider>
    <service android:name="com.huawei.updatesdk.service.deamon.download.DownloadService"
        android:exported="false"/>


        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <meta-data
            android:name="com.huawei.hms.version"
            android:value="2.6.1">
        </meta-data>
    </application>
</manifest>
  